.table-container {
  width: 100%;
}

.td {
  margin: 5px;
}

body {
  max-width: 70rem !important;
  white-space: nowrap;
}

.flex-group {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
}

.list-search {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  align-items: center;
}
